name: Deploy to self-hosted runner on hetzner vps

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: self-hosted

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: latest
      - name: Create database uri env variable
        env:
          # MONGODB_PASS_HETZNER is the uri with password for hetzner vps
          DATABASE_URI: ${{ secrets.MONGODB_PASS_HETZNER }}
        run: |
          echo "DATABASE_URI=" > .env
          echo "$env:$DATABASE_URI" >> .env

      - name: Setup
        run: |
          npm i
          npm run start
